<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title>add</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/artists" method="post">
      <input type="text" name="name"/>
      <input type="submit"/>
    </form>
  </body>
</html>
